<div class="bg-white border border-black rounded-xl w-full mb-5 md:mb-10 p-8" id="rewards">
    <h1 class="w-full block mb-6 font-cheltenham-std text-lg sm:text-xl" href="#">Bug Facts</h1>
  <p class="bugFactPopupToggle text-sm mt-4 font-sofia-pro-regular" >Click here and catch your fact!</p>
</div>


<!-- discount code at bottom of bug fact  -->
